.button-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button-style {
  background-color: white; /* Green */
  border:none;
  color: rgb(54, 56, 54);
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
  justify-self: center;
}

